#register {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .register-form {
    background-color: rgb(247, 250, 252);
    max-width: 550px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    padding: auto;
    box-shadow: 0px 0px 32px #8898AA26;
    box-sizing: border-box;
    border-radius: 7px;
  }
  .icon {
    display: flex;
    flex-direction: row;
  }
  #form > article > article:nth-child(3) > svg,
  #form > article > article:nth-child(2) > svg,
  #form > article > article:nth-child(1) > svg {
    margin-top: 1rem;
    color: #8898aa;
  }
  
  h1 {
    display: block;
    font-family: Helvetica, sans-serif;
    text-align: center;
    color: #8898aa;
    font-size: 15px;
    margin-bottom: 22px;
  }
  #form {
    max-width: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .fields input {
    width: 300px;
    font-family: FontAwesome;
    background-color: #ffffff;
    margin: 10px;
    padding: 7px;
    border: none;
    box-shadow: 0px 1px 3px #32325d26;
    border-radius: 4px;
  }
  .check span {
    font-size: 12px;
    color: #8898aa;
  }
  .check {
    text-align: left;
    margin-top: 6px;
    margin-left: 10px;
  }

  p.error {
    text-align: left;
    background-color: #f8d7da;
    padding: 8px;
    border-radius: 3px;
  }
  
  input.error {
    border-left-color: #a8413f;
  }