#root > button > a{
    position: absolute;
    bottom: 5rem;
    left: 40%;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #722364;

}
.backBtn a{
	position: absolute;
    bottom: 5rem;
    left: 40%;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #722364;
}

  