.navigation {
    width: 100%;
    height: 7vh;
    background: linear-gradient(135deg, #1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b);
    color: white;
    position: fixed;
    top: 0;
}
.navigation ul {
    display: flex;
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
}
.listItems{
  display: flex;
}
.navigation a{
    text-decoration: none;
    color: white;
 
    padding: 0 10px;
}
