.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logoutBtn{
    color: white;
    background-color: #722364;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed;
    right: 10px;
    top: 4rem;
  }